.burgerIngredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.title {
  text-align: left;
  padding-bottom: 25px;
}

.ingredientName {
  text-align: left;
}

.ingredientSection {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 24px;
  grid-row-gap: 32px;
  margin: 0;
}

.scrollSection {
  margin-top: 40px;
  height: 912px;
  overflow-y: scroll;
}

/* Не могли бы вы посоветовать, как изменить высоту скролбара? Я попробовала всё 
и даже получилось ограничить траекторию ползунка, но если у скролбара есть
background, то всё равно цветом выделяется по размеру контента
*/

.scrollSection::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
}

.scrollSection::-webkit-scrollbar-thumb {
  background: #8585ad;
  width: 8px;
}
